an artist profile 
 - photo, top songs

playlist
 - collection of various songs





technical thinking
class Song
{
    title: String,
    artist: Artist,
    album: String,
    totalPlays: String
}

class Artist
{
    photo: String,
    songs: Song[]
}
